# Usage
This archetype can create a simple Java Project ready for Continuous Integration (CI).
Set your `-DgithubAccount=` and change `-DgroupId` and `-DartifactId` to match the new application ones.

```console
mvn archetype:generate \
 -DarchetypeGroupId=${project.groupId} \
 -DarchetypeArtifactId=${project.artifactId} \
 -DarchetypeVersion=${project.version} \
 -DgithubAccount=<YOURGITHUBACCOUNT> \
 -DgroupId=fr.univtln.bruno.demos \
 -DartifactId=myapp \
 -Dversion=1.0-SNAPSHOT
```

The application can simply be packaged without and with dependencies.
The default main class of the manifest is defined (see pom.xml).
```console
cd MyApp
# the shade plugin generate two artifacts
mvn package
# Execution from Maven
mvn exec:java
# Execution as a uber jar
java -jar target/myapp-${project.version}-withdependencies.jar
```

After enabling git versioning and creating a github repository with the official (https://github.com/cli/cli)[CLI]
```console
curl --silent \
    https://gist.githubusercontent.com/emmanuelbruno/906d26c8ef1ff14a9dea989f71445112/raw/afcbe268816c84a78aa69341e4c800c469f1c643/.gitignore \
    -o .gitignore
git init
git add .
git commit -m "Initial release."
git branch gh-pages && git push --set-upstream origin gh-pages
gh repo create \
    --confirm \
    --enable-wiki=false \
    --description "A simple CI Java Application" \
    --private https://emmanuelbruno.github.io/${project.artifactId}/ \
    --homepage
```

The gitflow workflow can be used to manage branch and maven artifact version.
```console
mvn -DallowSnapshots=true -DfeatureName=myfeature1 jgitflow:feature-start
mvn -DallowSnapshots=true jgitflow:feature-finish
mvn -DallowSnapshots=true jgitflow:release-start
mvn -DallowSnapshots=true jgitflow:release-fin
```

Artifacts can automatically be deployed to Github packages.
```console
mvn deploy
```

A website can be automatically generated and deployed to github.
```console
mvn site
```